import os
BASE_DIR = os.path.abspath(os.path.join(os.path.dirname(__file__), '..', '..'))

DEBUG = False
TEMPLATE_DEBUG = DEBUG
ALLOWED_HOSTS = ['webvirtcloud.example.com']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}

SECRET_KEY = 'CHANGEME'

WS_HOST = '127.0.0.1'
WS_PORT = 6081
WS_PUBLIC_HOST = 'webvirtcloud.example.com'

# vim: set ai si ts=4 sts=4 sw=4 ft=python :
